

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Button Text";
}

#file-input-box {
    background-color: white;
}

$custom-file-text: (
  en: "Browse",
  fi: "Selaa"
);

#mycaption caption {
    caption-side: top;
}