{% extends 'layout.html' %}

{% block styles %}
{% endblock %}

{% block header %}
  <h1>{% block title %}Vuoden {{ year }} budjetti{% endblock %}</h1>
{% endblock %}

{% block header_2 %}Yhteensä pääluokittain{% endblock %}
{% block content_1 %}
<table class="table table-striped table-bordered w-auto table-sm text-secondary">
    <thead>
        <tr>
            <th text-secondary>Pääluokka</th>
            <th class="text-right">Budjetti €</th>
        </tr>
    </thead>
    <tbody>
        {% for sum in sums %}
        <tr>
            <td>{{ sum[0] }}</td>
            <td class="text-right">{{ sum[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block header_3 %}Muokkaa budjettia{% endblock %}
{% block content_2 %}
<form action="/budgets/{{ year }}" method="POST">           
    <table id="budget" class="table table-striped table-bordered w-auto table-sm text-secondary" 
        data-pagination="true" 
        data-toggle="table"
        data-page-size=12
        data-pagination-h-align='left'
        data-pagination-parts=['pageList']
        data-buttons-class="secondary">
        <thead>
            <tr>
                <th data-sortable="true">Pääluokka</th>
                <th data-sortable="true" class="text-right">Budjetti €</th>
                <th data-sortable="true">Kuukausi (1-12)</th>
                <th>Uusi budjetti</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in year_budget %}   
            <tr>
                <td>{{ budget[0] }}</td>
                <td class="text-right">{{ budget[1] }}</td>
                <td class="text-center">{{ budget[2]|int }}</td>
                <td><input class="text-secondary" type="TEXT" value="{{ budget[1] }}" name="amount">
                <input type="HIDDEN" value="{{ budget[3] }}" name="budget_id"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input class="btn btn-outline-secondary btn-sm" type="submit" value="Tallenna muokattu">
</form>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.display').DataTable();
    });
</script>
{% endblock %}
    

