{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Kategoriat{% endblock %}</h1>
{% endblock %}

{% block header_2 %}Lisää{% endblock %}
{% block content_1 %}
<form action="/categories" method="POST">
    <input type="text" name="name" value="Kategorian nimi" class="text-secondary">
    <input type="radio" name="outcome" value="0"><span class="text-secondary">Tulo</span>
    <input type="radio" name="outcome" value="1"><span class="text-secondary">Meno</span>
    <input class="btn btn-outline-secondary btn-sm" type="submit" value="Lisää kategoria">
</form>
{% endblock %}

{% block content_2 %}
<div class="content">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th><strong class="text-secondary">TULOT</strong></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr>
                        <td class="text-secondary">{{ income[1] }}</td>
                        <td><form action="/categories/{{ income[0] }}" method="GET">
                                <input class="btn btn-outline-secondary btn-sm" type="Submit" value="Alakategoriat">
                            </form>
                        </td>
                        <td><form action="/categories/{{ income[0] }}/remove" method="POST">
                                <input class="btn btn-outline-secondary btn-sm" type="Submit" value="Poista">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th><strong class="text-secondary">MENOT</strong></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for outcome in outcomes %}
                    <tr>
                        <td class="text-secondary">{{ outcome[1] }}</td>
                        <td><form action="/categories/{{ outcome[0] }}" method="GET">
                                <input class="btn btn-outline-secondary btn-sm" type="Submit" value="Alakategoriat">
                            </form>
                        </td>
                        <td><form action="/categories/{{ outcome[0] }}/remove" method="POST">
                                <input class="btn btn-outline-secondary btn-sm" type="Submit" value="Poista">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}