<h1>Kategoriat</h1>
<form action="/categories" method="POST">
<p>Kategorian nimi:</p><br>
<input type="text" name="name">
<input type="radio" name="outcome" value="0">Tulo
<input type="radio" name="outcome" value="1">Meno
<input type="submit" value="Lisää kategoria">
</form>
<hr>
<p><b>Tulolajit:</b></p>
<ul>
{% for income in incomes %}
<li><a href="/categories/{{ income[0] }}">{{ income[1] }}</a><br>
<form action="/categories/{{ income[0] }}/remove" method="POST">
<input type="Submit" value="Poista kategoria">
</form>
</li>
{% endfor %}
</ul>
<p><b>Menolajit:</b></p>
<ul>
{% for outcome in outcomes %}
<li>
<a href="/categories/{{ outcome[0] }}">{{ outcome[1] }}</a><br>
<form action="/categories/{{ outcome[0] }}/remove" method="POST">
    <input type="Submit" value="Poista kategoria">
</form>
</li>
{% endfor %}
</ul>