<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarCenteredExample" 
                    aria-controls="navbarCenteredExample" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div 
                    class="collapse navbar-collapse justify-content-center" 
                    id="navbarCenteredExample">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" href="/">Koti</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/transactions">Tapahtumat</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/summary">Yhteenveto</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/search?time_from=&time_to=&query=">Haku</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/budgets">Budjetti</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/categories">Kategoriat</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mx-2 bg-light border-bottom">
            <header class="text-center text-secondary">
            {% block header %}{% endblock %}
            </header>
        </div>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        <div class="container-fluid m-2 pb-2 bg-light border-bottom">
            <div class="row justify-content-md-center">
                <h3 class="text-secondary">{% block header_2 %}{% endblock %}</h3>
            </div>
            <div class="row justify-content-md-center">
                {% block content_1 %}{% endblock %}
            </div>
        </div>
        <div class="container-fluid m-2 pb-2 bg-light border-bottom">
            <div class="row justify-content-md-center">
                <h2 class="text-secondary">{% block header_3 %}{% endblock %}</h2>
            </div>
            <div class="row justify-content-md-center">
                {% block content_2 %}{% endblock %}
            </div>
        </div>
    {% block scripts %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    </body>
</html>