{% extends 'layout.html' %}

{% block header %}
  {% block title %}Pääluokka: {{ name }}{% endblock %}
  <button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Alaluokan nimen maksimipituus on 50 merkkiä.">?</button>
{% endblock %}

{% block header_2 %}Lisää pääluokalle {{ name }} alaluokka{% endblock %}
{% block content_1 %}
<form action="/categories/{{ id }}" method="POST">
    <div class="form-group">
      <input class="text-secondary w-auto" type="text" name="name">
      <input class="btn btn-outline-secondary btn-sm" type="submit" value="Lisää">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
{% endblock %}

{% block header_3 %}Pääluokan {{ name }} alaluokat{% endblock %}

{% block content_2 %}
<table>
    {% for subcategory in subcategory_list %}
    <tr>
        <td class="text-secondary">{{ subcategory[1] }}</td>
        <td><form action="/categories/{{ id }}/{{ subcategory[0] }}" method="POST">
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="Poista">
            </form></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
