{% extends 'layout.html' %}

{% block header %}
  {% block title %}Lisää tapahtuma{% endblock %}
  <button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Summa pitää antaa numeroina ja luokka pitää valita. Lisätiedot ja kuva kuitista eivät ole pakollisia. Lisätietoihin voi tallettaa maksimissaan 100 merkkiä. Viimeisimmässä tapahtumissa näytetään kymmenen viimeisintä.">?</button>
{% endblock %}

{% block content_1 %}
<form action="/transactions" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="exampleFormControlInput1" class="col-sm-3">Summa <span style="color: red;">*</span></label>
        <div class="col">
            <input type="text" class="form-control form-control-sm w-100" name="amount">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1" class="col-sm-3">Luokka <span style="color: red;">*</span></label>
        <div class="col"> 
            <select class="form-control form-control-sm w-100" name="category_subcategory">
                <option>Valitse luokka</option>
                {% for category_subcategory in categories_subcategories %}
                <option value="{{ category_subcategory[2] }}">{{ category_subcategory[0] }}: {{ category_subcategory[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="FormControlTextarea" class="col-sm-3">Lisätietoja</label>
        <div class="col">
            <textarea class="form-control form-control-sm w-100" rows="3" name="description" id="FormControlTextarea" maxlength="100">Maksimi 100</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3" for="FormControlFile">Kuitti</label>
        <div class="col">
            <input class="form-control-file form-control-file-sm float-left" type="file" name="file" id="FormControlFile">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3" for="FormControlButton"></label>
        <div class="col">
        <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Lisää" id="FormControlButton">
        </div>
    </div>
</form>
{% endblock %}

{% block header_3 %}Viimeisimmät tapahtumat{% endblock %}

{% block content_2 %}
<table class="table table-striped table-bordered w-auto table-sm text-secondary">
    <tr>
        <th>Aika</th>
        <th class="text-right">Summa €</th>
        <th class="text-center">Pääluokka</th>
        <th class="text-center">Alaluokka</th>
        <th>Lisätietoja</th>
        <th>Kuitti</th>
        <th class="bg-light"></th>
        <th></th>
        <th></th>
    </tr>
    {% for transaction in transactions_list %}
    <tr>
        <td>{{ transaction[0].strftime("%d.%m.%Y %H:%M") }}</td>
        <td class="text-right">{{ transaction[1] }}</td> 
        <td class="text-center">{{ transaction[2] }}</td>  
        <td class="text-center">{{ transaction[3] }}</td>
        <td>{{ transaction[4] }}</td>
        <td>{% if transaction[7]|int != 0  %}
            <form action="/transactions/pictures/{{ transaction[6] }}/show" method="GET">
                <input class="btn btn-outline-secondary btn-sm" type="submit" value="Näytä">
            </form>
            {% else %}
            Ei kuittia
            {% endif %}
        </td>
        <td class="bg-light"></td>
        <td><form action="/transactions/{{ transaction[5] }}" type ="GET">
                <input class="btn btn-outline-secondary btn-sm" type="submit" value="Muokkaa">
            </form>
        </td>
        <td><form action="/transactions/{{ transaction[5] }}/remove" type ="POST"><input class="btn btn-outline-secondary btn-sm" type="submit" value="Poista"></form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
      });
</script>
