{% extends 'layout.html' %}

{% block styles %}
{% endblock %}

{% block header %}
    {% block title %}Tapahtuma{% endblock %}
    <button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Summa pitää antaa numeroina ja luokka pitää valita. Lisätiedot ja kuva kuitista eivät ole pakollisia. Lisätietoihin voi tallettaa maksimissaan 250 merkkiä.">?</button>
{% endblock %}

{% block header_2 %}Muokkaa{% endblock %}

{% block content_1 %}
<form action="/transactions/{{ transaction[3] }}" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="transactionTime" class="col-sm-4">Aika</label>
        <div class="col">
            <span id="transactionTime">{{ transaction[0].strftime("%d.%m.%Y %H:%M") }}<span>
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1" class="col-sm-4">Summa <span style="color: red;">*</span></label>
        <div class="col">
            <input type="text" class="form-control form-control-sm w-100" name="amount" value="{{ transaction[1] }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1" class="col-sm-4">Luokka <span style="color: red;">*</span></label>
        <div class="col"> 
            <select class="form-control form-control-sm w-100" name="category_subcategory">
                <option>Valitse luokka</option>
                {% for category_subcategory in categories_subcategories %}
                <option value="{{ category_subcategory[2] }}">{{ category_subcategory[0] }}: {{ category_subcategory[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="FormControlTextarea" class="col-sm-4">Lisätietoja</label>
        <div class="col">
            <textarea class="form-control form-control-sm w-100" rows="3" name="description" id="FormControlTextarea" maxlength="250">{{ transaction[2] }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4" for="FormControlFile">Kuitti</label>
        <div class="col">
            <input class="form-control-file form-control-file-sm float-left" type="file" name="file" id="FormControlFile">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4" for="FormControlButton">
            {% for message in get_flashed_messages() %}
                <p style="color:red"><strong>{{ message }}</strong></p>
            {% endfor %}
        </label>
        <div class="col">
        <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Tallenna" id="FormControlButton"><br>
        </div>
    </div>
</form>
{% endblock %}

{% block content_2 %}
{% if picture_id|int != 0 %}
<div class="row">
    <div class="col w-50"><img src="/transactions/pictures/{{ picture_id }}/show"></div>
</div>
<div class="row">
    <div class="col">
        <form action="/transactions/{{ transaction[3] }}/picture/remove" method="POST">
            <input class="btn btn-outline-secondary btn-sm float-left" type="submit" value="Poista" id="FormControlButton">
        </form>
    </div>
</div>
{% endif %}

{% endblock %}