<a href="/">kotiin</a>
<form action="/transactions" method="POST">
Summa:
<input type="TEXT" name="amount"><br>
Kategoria:
<select name="category_subcategory">
<option value="" selected disable hidden>Valitse Kategoria</option>
{% for category_subcategory in categories_subcategories %}
<option value="{{ category_subcategory[2] }}">{{ category_subcategory[0] }}: {{ category_subcategory[1] }}</option>
{% endfor %}
</select><br>
Lisätietoja:
<input type="TEXT" name="description"><br>
<input type="submit" value="Tallenna">
</form>
<table>
    <tr>
        <th>Aika</th>
        <th>Summa</th>
        <th>Kategoria</th>
        <th>Alakategoria</th>
        <th>Lisätietoja</th>
        <th>Muokkaa</th>
        <th>Poista</th>
    </tr>
    {% for transaction in transactions_list %}
    <tr>
        <th>{{ transaction[0].strftime("%d.%m.%Y %H:%M") }}</th>
        <th>{{ transaction[1] }} €</th> 
        <th>{{ transaction[2] }}</th>  
        <th>{{ transaction[3] }}</th>
        <th>{{ transaction[4] }}</th>
        <th><form action="/transactions/{{ transaction[5] }}" type ="GET"><input type="submit" value="Muokkaa"></form></th>
        <th><form action="/transactions/{{ transaction[5] }}/remove" type ="POST"><input type="submit" value="Poista"></form></th>
    </tr>
    {% endfor %}
</table>